@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
nav p{
	display: inline;
}
body {font-family: Roboto;}
body {background:skyblue;}
body {color:green}
h2 {color: firebrick;}
p {
	font-weight: bolder;
}